
.formCont{
    display: flex!important;
}

.formCont aside{
    display: block;
}

.avatar{
    width: 100px;
    height: 100px;
    margin: auto;
    top: -70px;
    color: var(--mainColor);
}

.form:hover{
    background-color: var(--mainColor);
}

.form input{
max-width: 75%;
width: 100%;
margin: 0px auto;
padding: 10px 30px;
}

.form button{
    max-width: 75%;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}


@media screen and (max-width : 760px) {
    .formCont aside{
        display: none;
    }
}